.header__logo {
    width: 142px;
    height: 33px;
}

@media screen and (max-width: 767.98px) {
    .header__logo {
        padding-left: 10px;
        width: 104px;
        height: 24px;
    }
}

@media screen and (max-width: 355px) {
    .header__logo {
        padding-left: 27px;
    }
}