.footer {
    max-width: 880px;
    margin: 67px auto 0;
    padding-bottom: 60px;
}

@media screen and (max-width: 767.98px) {
    .footer {
        margin: 48px auto 0;
        padding-bottom: 36px;
    }
}