.navbar {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #545454;
    padding-bottom: 40px;
    padding-top: 40px;
}
